/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Hind', sans-serif;
  font-size: 100%;
  margin:0;
  background: url(https://c2.staticflickr.com/8/7210/6863823587_ff450c0ed1_z.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.03rem;
  margin-top: 0;
}

.logo {
  max-width: 100px;
  display: block;
  margin: 0 auto 2em; // center the logo 
}

section {
  min-height: 100%;
  background: rgba(215,218,0,0.85);
  width:100%;
  padding:10%;
}

.card {
  background: white;
  border-radius: 4px;
  padding: 3em;
  box-shadow: 1px 2px 11px -1px rgba(0, 0, 0, 0.4);
  position: relative;
}

nav {
  width: 100%;
  margin: 2em auto;
}

.nav-button {
  display: block;
  width: 100%;
  text-align: center;
  border: 5px solid white;
  border-radius: 35px;
  padding: 1em;
  font-weight: 700;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  transition: all 0.75s;
}

.nav-button:hover {
  background: white;
  color: black;
}

p#message {
  font-size: 1.2em;
  font-weight: bold;
}

button {
  width:100%;
  margin-top:15px;
  
}

input[type="text"] {
  padding: 0.5em;
  width: 100%;
}

/* If the browser width is above 640px, make my section smaller in width */

@media (min-width: 640px) {

  section {
    width: 100%;
    padding:10% 30%;
  }

    .logo {
      position: absolute;
      top: -35px;
      right: -35px;
    }
  

} /* END of media query */








